* {
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  cursor: default;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #ffffff;
  border-bottom: #e5e5e5 solid 3px;
}

.navbar {
  display: flex;
  width: 1280px;
  height: 100px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: calc(1280px - 200px);
  line-height: 100px;
  z-index: 9999;
}

.logo {
  margin-top: 29px;
}

.dropbtn {
  padding: 14px 16px;
  margin: 0;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: inherit;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  border-bottom: #000000 solid 3px;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 1280px;
  left: 180px;
  border-top: #e5e5e5 solid 3px;
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  display: flex;
  margin: 40px 0 130px 180px;
  flex-direction: column;
  float: left;
}

.content-header {
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}

.column > a {
  height: 50px;
  font-size: 15px;
}

.send-bt {
  width: 120px;
  height: 43px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #fede22;
  cursor: pointer;
  border-radius: 40px;
  border: 0;
  outline: 0;
  box-shadow: none;
}

/* Intro */
.swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
  padding-top: 100px;
}

.intro-title {
  padding: 200px 0 30px 0;
  font-size: 56px;
  font-weight: 900;
  line-height: 65px;
}

.intro-detail {
  font-size: 20px;
  line-height: 35px;
}

.intro-detail-2 {
  padding-top: 25px;
  font-size: 20px;
  font-weight: 900;
  text-decoration: underline;
  cursor: pointer;
}

.intro-box {
  width: 1280px;
  height: 750px;
  margin: auto;
}

span > img {
  padding-top: 20px;
  cursor: pointer;
}

/* Main-account */
.account {
  width: 100%;
}

.account-box {
  display: flex;
  width: 1280px;
  height: 920px;
  margin: auto;
  padding-top: 120px;
  background-color: #ffffff;
}

/* 위 아래 공백 200 */
.account-left {
  margin: 0 100px;
}

/* 498*750 */
.account-left > img {
  width: 480px;
  height: 680px;
  transition: all 0.3s linear;
}

.account-left > img:hover {
  transform: scale(1.1);
}

.account-title {
  padding: 200px 0 50px 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
}

.account-detail {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}

.account-right > button {
  width: 330px;
  height: 70px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f6f6f6;
  border: none;
  cursor: pointer;
}

.background {
  width: 100%;
  height: 30px;
  background-color: #f6f6f6;
}

/* Main-saving */
.saving {
  width: 100%;
}

.saving-box {
  display: flex;
  width: 1280px;
  height: 1025px;
  margin: auto;
  padding-top: 112px;
  background-color: #ffffff;
}

.saving-left {
  margin: 0 90px;
}
.saving-left > img {
  width: 490px;
  height: 120px;
}

/* 365*750 */
.saving-right > img {
  width: 455px;
  height: 800px;
}

.saving-title {
  padding: 150px 0 50px 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
}

.saving-detail {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}

.saving-left button {
  width: 197px;
  height: 70px;
  margin-bottom: 50px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f6f6f6;
  border: none;
  cursor: pointer;
}

/* Main-moim */
.moim {
  width: 100%;
}

.moim-box {
  display: flex;
  width: 1280px;
  height: 945px;
  margin: auto;
  padding-top: 135px;
  background-color: #ffffff;
}

/* 428*622 */
.moim-left > img {
  width: 510px;
  height: 675px;
  margin: 0 100px;
  transition: all 0.3s linear;
}

.moim-left > img:hover {
  transform: scale(1.1);
}

.moim-title {
  padding: 150px 0 50px 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
}

.moim-detail {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}

.moim-right > button {
  width: 320px;
  height: 70px;
  margin-bottom: 50px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f6f6f6;
  border: none;
  cursor: pointer;
}

/* Main-weeks */
.weeks {
  width: 100%;
}

.weeks-box {
  display: flex;
  width: 1280px;
  height: 800px;
  margin: auto;
  padding-top: 172px;
  background-color: #ffffff;
}

.weeks-title {
  padding: 65px 0 50px 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
}

.weeks-detail {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}

.weeks-left {
  margin: 0 150px;
}
/* 510*495 */
.weeks-right > img {
  width: 545px;
  height: 460px;
}

.weeks-left > button {
  width: 320px;
  height: 70px;
  margin-bottom: 50px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f6f6f6;
  border: none;
  cursor: pointer;
}

/* Main-foreign */
.foreign {
  width: 100%;
}

.foreign-box {
  display: flex;
  width: 1280px;
  height: 1020px;
  margin: auto;
  padding-top: 115px;
  background-color: #ffffff;
}

.foreign-title {
  padding: 170px 0 50px 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
}

.foreign-detail {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 50px;
}

/* 363*752 */
.foreign-left > img {
  width: 450px;
  height: 790px;
  transition: all 0.3s linear;
}

.foreign-left > img:hover {
  transform: scale(1.1);
}

.foreign-left {
  margin: 0 150px;
}

.foreign-right > button {
  width: 320px;
  height: 70px;
  margin-bottom: 50px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #f6f6f6;
  border: none;
  cursor: pointer;
}
